/*Customized classes for fonts, backgrounds and colors*/
.f-barlow {
    font-family: 'Barlow'
}

.f-blanka {
    font-family: 'Blanka'
}

.f-montserrat {
    font-family: 'Montserrat'
}

.f-spartan {
    font-family: 'League Spartan'
}

.c-darkblue {
    background-color: rgb(20, 15, 42);
}

.c-orange {
    background-color: rgb(210, 101, 9);
}

.text-darkblue {
    color: rgb(20, 15, 42);
}

.text-orange {
    color: rgb(210, 101, 9);
}