body {
    width: 100vw;
    height: 100vh;
    background-image: url('https://raw.githubusercontent.com/SagoDev/Proyecto-web-Beats-Vault-Studio/refs/heads/main/img/image1.webp');
    background-blend-mode: multiply;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.btnLogin {
    background-color: rgb(31, 23, 66) !important;
    border: none;
}

.login {
    background: rgba(31, 23, 66, 0.34);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.logo {
    height: 50px;
}