header {
    background-image: url(/img/image1.png);
    background-blend-mode: multiply;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;     
}

.navContainer{
    height: 10vh; 
}

.titleContainer{
    height: 90vh;
}

.logo {
    height: 50px;
}

.mainContent{
   height: 200vh;
}

.line{
    height: 5px;
}

.studio{
    letter-spacing: 10px;
    max-width: 50vw;
    
}

.titlePart1{
    font-size: 4rem;
}

.navbarBeats, .hashtagText{
    font-size: 1.5rem;
}

section{
    display: none;
}


/*Gallery View md start*/
.smSec{
    display: flex;
}

.smGenre{
    flex: 1 0 auto;
    margin: 0 10px;
   
}
.smGenre img{
    image-resolution: auto;
    width: 70vw;
    height: 50vh;
}
/*Gallery View md end*/

/*Gallery View md start*/
.mdGenre{
    width: 20vw;
    height: 200px;
}

.mdSec div img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
    padding: 10px;
}

.mdSec div img:hover{
    opacity: 1;
    transform: scale(1.2);
}
/*Gallery View md end*/

/*Gallery View lg start*/
.lgGenre{
    display: none;    
    width: 600px;
    height: 430px;
}

.lgSec div img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
    padding: 10px;
}

.lgSec div img:hover{
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}
/*Gallery View lg end*/

.f-barlow {
    font-family: 'Barlow'
}
.f-blanka {
    font-family: 'Blanka'
}

.f-montserrat{
    font-family: 'Montserrat'
}

.f-spartan{
    font-family: 'League Spartan'
}

.c-darkblue{
    background-color: rgb(20, 15, 42); 
}

.c-orange{
    background-color: rgb(210, 101, 9);
}

.text-darkblue{
    color: rgb(20, 15, 42); 
}

.text-orange{
    color: rgb(210, 101, 9);
}



