header {
    background-image: url(/img/image1.png);
    background-blend-mode: multiply;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;     
}

.navContainer{
    height: 10vh; 
}

.titleContainer{
    height: 90vh;
}

.logo {
    height: 50px;
}

.mainContent{
   height: 200vh;
}

.line{
    height: 5px;
}

.studio{
    font-size: 3rem;
    letter-spacing: 20PX;
}

.nameTitle, .textParaph1{
    font-size: 4rem;
}

.slogan {
    font-size: 2rem;
}

.textParaph2{
    font-size: 2rem;
}

.navbarBeats, .hashtagText{
    font-size: 1.5rem;
}

.seeAll{
    font-size: 2rem;
}



.f-barlow {
    font-family: 'Barlow'
}
.f-blanka {
    font-family: 'Blanka'
}

.f-montserrat{
    font-family: 'Montserrat'
}

.f-spartan{
    font-family: 'League Spartan'
}

.c-darkblue{
    background-color: rgb(20, 15, 42); 
}

.c-orange{
    background-color: rgb(210, 101, 9);
}

.text-darkblue{
    color: rgb(20, 15, 42); 
}

.text-orange{
    color: rgb(210, 101, 9);
}